/*
    Available fonts to use 
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

/*======GLOBAL SITE CSS=========*/
/*Set ALL elements specified width to include padding and border*/
*{ 
    box-sizing: border-box;
    overflow-x:hidden;
}
body{
    margin:0em;
    background-color:rgb(41,43,44);
    font-family: 'roboto', sans-serif;
    color:white;
}
.navigation-header header, #navigation-header nav{
    width:100vw;
    display:block;
}
.navigation-header header{
    text-align: center;
    color:white;
    font-family:'Libre Franklin', sans-serif;
    font-size:1.5rem;
    margin-top:1em;
    margin-bottom:1em;
}
.navigation-header header h1{
    margin:0em;
}
.navigation-header nav{
    background-color: rgb(54,57,59);
    text-align: center;
    height:10%;
}
.navigation-header nav ul{
    list-style-type: none;
    margin:0em;
    padding:0em;
}
/*horizontal navigation bar*/
.navigation-header nav ul li{
    display:inline-block;
    font-size:1.5rem;
    text-align:center;
}
.navigation-header nav ul li a{
    display: block; /*Start on the only line in the list element and take up the whole width*/
    color:white;
    padding:0.5em 0.5em;
}
.navigation-header nav ul li a:hover{
    background-color:rgb(105,103,88);
}
.navigation-header nav ul li .active{
    background-color:rgb(197,188,142);
}
/*============HOMEPAGE============*/
.homepage-container{
    text-align:center;
}
.homepage-container figure{
    margin:0em;
}
.homepage-container .homepage-landing {
    margin:0em;
    position:relative;
}
.homepage-container .homepage-landing img{
    width: 100%;
    height:50em;
    position: relative;
}
.homepage-container .homepage-landing p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5em;
    margin:0em;
}
.homepage-container .about-img{
    width:100%; 
    display:flex; 
    background-color: rgb(54,57,59);
    margin-bottom:10em;
}
.homepage-container .about-img img{
    height:15em;
}
.homepage-container .about-img figcaption{
    font-size:1.40rem;
}
.homepage-container .showcase, .user-experience{
    align-items:center;
}
.homepage-container .foundation{
    align-items:center;
    flex-direction:row-reverse;
}
.homepage-container .showcase img, .user-experience img{
    margin-left:8%;
}
.homepage-container .foundation img{
    margin-right:8%;
}
.homepage-container .showcase figcaption, .user-experience figcaption{
    text-align:left;
}
.homepage-container .foundation figcaption{
    text-align:right;
}
/*=========DEMOS==========*/
/*=========COURSES==========*/
.courses-container{
    display:grid;
    grid-template-areas: 
        "entry1 entry2 entry3"
        "entry4 entry5 entry6"
        "entry7 entryNull entryNull";
}
.courses-container .course-entry1{
    grid-area:entry1;
}
.credits-container .course-entry2{
    grid-area:entry2;
}
.credits-container .course-entry3{
    grid-area:entry3;
}
.credits-container .course-entry4{
    grid-area:entry4;
}
.credits-container .course-entry5{
    grid-area:entry5;
}
.credits-container .course-entry6{
    grid-area:entry6;
}
.credits-container .coures-entry7{
    grid-area:entry7;
}
.courses-container .course-entry1 img, .course-entry2 img, .course-entry3 img, .course-entry4 img, .course-entry5 img, .course-entry6 img, .course-entry7 img{
    width:100%;
    height:14em;
}
/*=========CREDITS==========*/
.credits-container .credit-profile{
    width:100vw;
    margin:0;
    padding-top:2em;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.credits-container .credit-profile img{
    padding:0.5em;
    background-color:rgb(238,230,171);
}
.credits-container .credit-profile .profile-caption{
    text-align:center;
    background-color:rgb(54,57,59);
    padding:1em 1.75em 1em 1.75em;
    margin-top:1em;
}
.credits-container .credit-profile .credit-title{
    text-align:center;
    padding-top:0.5em;
    font-size:1.75rem;
}
.credits-container .credit-profile .credit-name{
    font-size:1.5rem;
}
.credits-container .credit-profile .github-profile{
    font-size:1.25rem;
}
.credits-container .credit-profile .github-profile a:link{
    color:rgb(238,230,171);
}
.credits-container .credit-profile .github-profile a:visited{
    color:rgb(105,103,88);
}
.credits-container .credit-profile .github-profile a:hover, .github-profile a:active{
    color:rgb(197,188,142);
}


   








