/*
    Available fonts to use 
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

/*Set ALL elements specified width to include padding and border*/
*{ 
    box-sizing: border-box;
}

/*============HOMEPAGE============*/
body{
    margin:0em;
    background-color:rgb(41,43,44);
    font-family: 'roboto', sans-serif;
    color:white;
}
/*place the title and navigation bar side-by-side*/
#homepage-header header, #homepage-header nav{
    width:100vw;
    display:block;
}
#homepage-header header{
    text-align: center;
    color:white;
    font-family:'Libre Franklin', sans-serif;
    font-size:2rem;
    margin-top:1em;
    margin-bottom:1em;
}
#homepage-header header h1{
    margin:0em;
}
#homepage-header nav{
    background-color: rgb(54,57,59);
    text-align: center;
    height:10%;
}
#homepage-header nav ul{
    list-style-type: none;
    margin:0em;
    padding:0em;
}
/*horizontal navigation bar*/
#homepage-header nav ul li{
    display:inline-block;
    font-size:2rem;
    text-align:center;
}
#homepage-header nav ul li a{
    display: block; /*Start on the only line in the list element and take up the whole width*/
    color:white;
    padding:0.5em 0.5em;
}
#homepage-container{
    text-align:center;
}
#homepage-container figure{
    margin:0em;
}
#homepage-container #homepage-landing {
    margin:0em;
    position:relative;
}
#homepage-container #homepage-landing img{
    width: 100vw;
    max-height:80vh;
    position: relative;
}
#homepage-container #homepage-landing p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5rem;
    margin:0em;
}
#homepage-container #homepage-about{
    background-color:rgb(54,57,59);
}
#homepage-container #homepage-about .about-img{
    display:inline-block;
    width:10%;
    margin-left:5em;
    margin-right:5em;
}

/*=========DEMOS==========*/


   








