/*Set ALL elements specified width to include padding and border*/
*{ 
    box-sizing: border-box;
}

/***HOMEPAGE***/
/*place the title and navigation bar side-by-side*/
#homepage-header header, #homepage-header nav{
    width: 50%;
    float: left;
}
#homepage-header header{
    text-align: left;

}
#homepage-header nav{
    background-color: rgb(54, 57, 59);
    text-align: right;
    height: 50px;
}
#homepage-header nav ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
/*horizontal navigation bar*/
#homepage-header nav ul li{
    display:inline-block;
}
#homepage-header nav ul li a{
    display: block; /*Start on the only line in the list element and take up the whole width*/
    color:white;
    padding:14px 16px;
}

#homepage-container #landing-page-img{
    position:relative; 
}

#homepage-container #landing-page-img img{
    width: 100%;
    z-index:0;
    
}

#homepage-container #landing-page-img figcaption{
    position:absolute;
    bottom:0;
    left:0;
    z-index:1;
}


   








